.menu{
    position: absolute;
    background-color: rgba(27, 27, 27, 0.8);
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    color: rgb(214, 206, 206);

    
}
body{ background-image:url(pokemonbackground.jpg);
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0;
}

#divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

#negrito:hover{
  font-weight: bold;
}


.custom-navbar {
  background-color: #333;
}

.custom-navbar .nav-link {
  color: white;
}

.custom-navbar .nav-link:hover {
  color: white;
}

.custom-navbar .navbar-toggler {
  background-color: white;
}


.nav-link {
  color: white !important; /* Força a cor branca nos links */
}

.nav-link:hover {
  color: gray !important; /* Define a cor quando o usuário passar o mouse */
}

.footer {
  background-color: #333; /* Fundo do footer */
  color: white; /* Cor do texto no footer */
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;  
  gap:600px
}
.link-github{
  color: white;
  text-decoration: none;
}
